<div class="container">
	<% if session.has_key?('user1') && session.has_key?('user2') %>
		<%= "#{session[:user1]} connected with #{session[:user2]}" %>
	<% end %>

	<br/><br/>

	<div id="message_area" style="width:219px;height:200px;border:1px solid"></div>

	<textarea id="message" rows="3" cols="35"></textarea>
	<a href="#" id="mybtn" class="btn btn-primary btn-lg active" role="button">Send</a>
	<input type="hidden" id="user_1" value="<%= session[:user1]%>" />
	<input type="hidden" id="user_2" value="<%= session[:user2]%>" />
	<input type="hidden" id="password" value="<%= session[:password]%>" />


	<br/><br/>
	<a href="/" class="btn">Back</a>

</div>
<script type="text/javascript">

    $('#mybtn').click(function(){
    	if ($('#message').val() == ""){
    		alert('Please Enter Message.')
    	}else{
	    	$("#mybtn").html("Sending...")
	    	var message = $('#message').val();
	    	var user_1 = $('#user_1').val();
	    	var user_2 = $('#user_2').val();
	    	var password = $('#password').val()
	        $.ajax({
	            type: 'post',
	            url: 'send_message',
	            data: 'message='+message+'&user_1='+user_1+'&user_2='+user_2+'&password='+password,
	            success: function (response) {
	            	$("#message").val("")
	            	if(response.status == true){
	            		$("#message_area").append("<span style='color:blue'>"+user_1+"</span>:"+message)
	            		$("#message").val("")
	            	}else{
	            		alert('Something went gone wrong. Please try again.')
	            	}
	            	$("#mybtn").html("Send")
	            }
	        })
	    }    
    })
</script>